.App {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
}

.app__title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.app__btn {
    margin-top: 1.3;
    display: block;
    padding: 0.5em 1em;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #dbb2db;
    font-size: 27px;
    padding: 10px;
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    padding: 0.5em 1.2em;
    background: #5eac31;
    border-radius: 1rem;
    border: 2px solid;
    border-color: #31ac48;
    position: relative;
}
.app__btn:hover {
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px rgb(49, 172, 104);
    transition: all 0.2s ease;
}
.app__phrase {
    max-width: 400px;
    height: 300px;
    background-color: hsl(34, 78%, 91%, 74%);
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
    clip-path: polygon(85% 6%, 70% 15%, 30% 15%, 15% 5%, 0% 25%, 10% 45%, 10% 75%, 25% 90%, 40% 95%, 60% 95%, 75% 91%, 90% 75%, 90% 45%, 100% 25%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 3.5rem;
    font-size: 1.5rem;
    padding-right: 3.0rem;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: transform 888ms ease-out 888ms;
}
.app__phrase:hover {
    transform: rotate(90deg) translate(0px, 0px);
}
.app__autor {
    padding: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
    width: 90%;
    max-width: 400px;
    background-color: hsl(0, 0%, 80%, 74%);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    opacity: 1;
    transition: opacity 1s ease 0s;
    font-family: Arial, Helvetica, sans-serif;
}
.app__autor:hover {
    opacity: 0.6;
}